{% extends "main/header.html" %}
{% block content %}
{% load static %}
<img id='simple' src="{% static 'simple.png' %}"></br>
<h2>Simple Wealth</h2>
<label>Current Available Funds: </label>
<label>{{cash}}</label>
<br />
<form method="post">
	{% csrf_token %}
	<label>Buy or Sell</label>
	<select name='buySell' value="Buy or Sell">
	  <option value="+">Buy</option>
	  <option value="-">Sell</option>
	</select>
	<br />
	<label>stock symbol</label>
	<input type="text" name="stock">
	<br />
	<label>Stock amount</label>
	<input type="text" name="numStock">
	<br />
	<button>Complete Transaction</button>
</form>
{% endblock %}