{% extends "main/header.html" %}
{% block content %}
{% load static %}
<img id='simple' src="{% static 'simple.png' %}"></br>
<h2>Simple Wealth</h2>
<label>Current Available Funds: </label>
<label>{{cash}}</label>
<button type="button" id='sell' onclick="window.location.href='buy_sell/';">Buy or Sell Stocks</button>
<div id='stocks'>
	<label id='title'>Owned Stocks</label></br>
	<ul>
		{% for k,n in stocks %}
		<li>{{k}} - {{n}}</li>
		{% endfor %}
	</ul>
</div>
<div id="activity">
	<label>Reccomended Stocks</label>
	<ul>
		{% for k,n,m in reccomend %}
		<li>{{m}} - {{k}}: {{n}}</li>
		<li></li>
		{% endfor %}
	</ul>
</div>
<div id="graph">
	<img id='pie' src="{% static 'pie.jpg' %}">
</div>
{% endblock %}